# Byte-compiled / cache / packaging
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
wheels/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
htmlcov/

# Environments
.env
.venv/
env/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# System files
Thumbs.db
ehthumbs.db
Desktop.ini
